@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font: normal 100%/1.5 sans-serif;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.top {
    position: relative;
}

.top > p {
    font: normal 100%/1.5 serif;
    font-size: 1.2em;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    padding: 1em;
    color: #fff;
    width: 100%;
}

.title {
    font-size: 1.5em;
    left: 1.5em;
    color: #3e1b1b;
}

.table {
    display: inline-block;
    margin: 1em;
    
}

.table > h2 {
    font-size: 1em;
    color: #c1c1c1;
    float: left;
    display: block;
}

.table > p {
    font-size: 1em;
}